environment:
  matrix:
    - TARGET: x86_64-pc-windows-gnu
      MSYS_BITS: 64
    - TARGET: i686-pc-windows-gnu
      MSYS_BITS: 32

install:
  - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-nightly-${env:TARGET}.exe"
  - rust-nightly-%TARGET%.exe /VERYSILENT /NORESTART /DIR="C:\Program Files (x86)\Rust"
  - set PATH=%PATH%;C:\Program Files (x86)\Rust\bin
  - if defined MSYS_BITS set PATH=%PATH%;C:\msys64\mingw%MSYS_BITS%\bin
  - if defined MSYS_BITS pacman -Sy mingw-w64-i686-headers-git mingw-w64-i686-crt-git mingw-w64-i686-winpthreads-git mingw-w64-x86_64-headers-git mingw-w64-x86_64-crt-git mingw-w64-x86_64-winpthreads-git
  - cat "C:\msys64\mingw64\x86_64-w64-mingw32\include\stdio.h"
  - sed -srie "s/#define std([[:alpha:]]+)[[:space:]]+\(__acrt_iob_func\(([[:digit:]]+)\)\)/#define std\1 (\&__iob_func()[\2])/" "C:\msys64\mingw64\x86_64-w64-mingw32\include\stdio.h" "C:\msys64\mingw32\i686-w64-mingw32\include\stdio.h"
  - rustc -V
  - cargo -V
  - gcc -v
  - cat "C:\msys64\mingw64\x86_64-w64-mingw32\include\stdio.h"

build_script:
  - git submodule -q update --init
  - cargo build --target %TARGET% --all -v

test_script:
  - SET RUST_BACKTRACE=1
  - cargo test --target %TARGET% --all -v
